version: "3.8"

services:
  backend:
    command: npm run dev

  proxy:
    volumes:
      - ./proxy:/app
      - /app/node_modules
    command: npm run dev

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: builder
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5274:5173"
    command: npm run dev -- --host
