version: "3.9"

services:
  backend:
    image: backend
    container_name: backend
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - app-network

  proxy:
    image: proxy
    container_name: proxy
    restart: unless-stopped
    ports:
      - "3001:3001"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
    name: app-network
